@media (max-width:1388px) {
    .section1 {
        padding-inline: 66px;
    }
}

@media (max-width: 1200px) {
    footer {
        padding: 40px 32px;
        flex-direction: column;
        row-gap: 32px;
    }

    .columns {
        column-gap: 160px;
    }

}

@media (max-width: 1172px) {
    .section2 {
        flex-wrap: wrap;
        padding: 32px;
        row-gap: 40px;
    }

    .section2_picture {
        width: 100%;
        height: 480px;
    }

    .section2_content_div {
        display: flex;
        width: 100%;
        column-gap: 80px;
        justify-content: space-between;
    }

    .section2Header {
        margin: 0;
    }

    .section2Header,
    .section2Text {
        width: 440px;
    }
}

@media (max-width: 1025px) {
    .section3 {
        padding-inline: 32px;
    }
}

@media (max-width: 981px) {
    .section1 {
        height: 320px;
        padding: 0 85px;

    }

    .section_cover_text {
        font-size: 36px;
        line-height: 44px
    }
}
