@media (max-width: 745px) {
    header {
        padding: 32px 24px;
    }

    .section2 {
        padding: 24px;
    }

    .section2_picture {
        height: 320px;
    }

    .section2_content_div {
        flex-direction: column;
        row-gap: 20px;
    }

    .section2Header,
    .section2Text {
        width: 100%;
        text-align: center;
    }

    .section3 {
        padding: 40px 24px;
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }

    .title {
        justify-content: center;
    }

    footer {
        padding: 32px 24px;
    }

}

@media (max-width: 691px) {
    .header_nav {
        display: none;
    }

    .header_button {
        display: none;
    }
    .burger {
        display: block;
    }
}

@media (max-width: 540px) {
    .section1 {
        height: 240px;
        padding: 0 24px;
    }

    .section_cover_text {
        margin-bottom: 20px;
    }

    .section2_picture {
        height: 240px;
    }

    .section2Header {
        font-size: 18px;
        line-height: 26px;
    }

    .section2Text {
        font-size: 14px;
        line-height: 22px;
    }

    .section3 {
        padding: 32px 24px;
    }

}